/* Sidebar */
#sidebar {
    width: 250px;
    background: #2d3032;
    transition: all 0.3s;
    padding: 10px;
    height: 100%;
}

a.nav-link:hover {
    background: #FFF !important;
    color: #9615DB !important;
    font-weight: bold;
    border-radius: 5px;
}

a.nav-link {
    color: #FFF !important;
}

h6.sidebar-heading{
    color: #D2D3D3 !important;
}
.no-hover:hover{
pointer-events: none;
}

#gallery-container{
    background: #fff;
}

#sidebar.hide {
    margin-left: -250px;
}

/* Gallery Grid */
.gallery-container {
    margin-left: 260px;
    padding: 15px;
    transition: margin-left 0.3s;
}

.gallery-container.hide-sidebar {
    margin-left: 10px;
}

.gallery-item {
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    margin-bottom: 15px;
    background-color: #f1f1f1;
}

.gallery-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.toggle-sidebar {
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000;
    padding: 5px;
    background: #007bff;
    color: #fff;
    border-radius: 5px;
}



.header-bg-costume {
    height: 42rem;
    /* height: 60vh; */
    background-image: url('../img/beach_cleansing.svg'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.header-text-costume {
    top: 12rem;
    padding: 10rem;
    /*padding: 1rem;*/
    text-align: center;
}
.bright-switch {
    padding: 0 10px;
}
.light-bright-indicator, 
.light-dark-indicator{
    padding-right: 10px;
}
.navbar-brand {
    margin-left: var(--bs-navbar-brand-margin-end);
}

[class*=sidebar-dark-] .nav-header {
    background-color: inherit;
    color: #d0d4db;
}
.nav-sidebar .nav-header{
    font-size: .9rem;
    padding: .5rem .75rem;
}
.costume-h-10{
    height: 3vh;
}

hr {
    height: 7px;
    width: 100%;
    background: #0000004d;
    border: 0;
    clip-path: polygon(100% 50%, 50% 100%, 0 100%);
}


    .modal-dialog-fullscreen {
      width: 100%;
      max-width: 100%;
      margin: 0;
    }
    .swiper {
      width: 100%;
      height: 100%;
    }
    .swiper-slide img {
      width: 100%;
      object-fit: contain;
    }
    .swiper-thumb img {
      height: 80px;
      object-fit: cover;
      cursor: pointer;
    }
    .swiper-thumb {
      height: 100px;
    }

    img.thumb.img-thumbnail{
      width: 12rem;
    }


    .galleryRow{
        position: relative;
        width: 100%;
        height: 30vw;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: 45%;
        cursor: pointer;
    }

    .overlayRowBody {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0.6;
      transition: .5s ease;
      /*background-color: #008CBA;*/
    }

    .eachCharacterName{
        position: relative;
        color: #fff;
        background: rgb(34 34 34 / 35%);
        width: 20px;
        padding: 2px 5px;
        text-align: center;
        border-bottom: solid 1px #222;
        font-size: 14px;
    }

    .overlayTitle{
        position: absolute;
        bottom: 0;
        right: 0;
        opacity: 0
    }

    .galleryRow:hover .overlayRowBody {
        opacity: 0;
    }
    .galleryRow:hover .overlayTitle {
        opacity: 1;
    }


    .galleryRowList {
        position: relative;
        width: 100%;
        height: 8rem;
        background-position-x: 0%;
        margin-bottom: 1rem;
        border-radius: 1rem;
        background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    }


.bg-resene  {
    background: #2d3032!important;
}

.bg-singaporeOrchid{
    background: #9615DB !important;
}

.text-singaporeOrchid{
    color: #9615DB !important;
}

.border-singaporeOrchid{
    border-color: #9615DB !important;
}

.text-shadeOfCyan{
    color: #7d7f80 !important;
}

.text-resene{
    color: #2d3032 !important;
}